body {
	text-align: center;	
	background-image: url("http://68.media.tumblr.com/948215d9a07d2e89d709aa281d50f9e1/tumblr_oi7qaiFPlx1shc1wyo1_500.jpg");
	background-size: center;
	color: #fff;
	font-family: helvetica;
	font-weight: 100;
	padding:200px;

}

hr {
	width: 700px;
}
p{
	font-size: 10px;
}
h1 {
	text-align: center;
	font-family: cursive;
	font-size: 50px;
	font-weight:100;
	color: #5D6D7E;
}
#slogan {font-size: 20px;}
#slogan {font-weight: 25;}
#slogan {font-family: Georgia;}
